<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">


    <th:block th:fragment="static">
        <link th:fragment="style" rel="stylesheet" th:href="@{/css/userInfo.css}">
         <link th:fragment="style" rel="stylesheet" th:href="@{/css/404.css}">
        <!-- <link th:fragment="style" rel="stylesheet" th:href="@{/css/login.css}">-->
        <link rel="stylesheet" th:href="@{/css/role.css}">
    </th:block>
   <!-- <th:block th:fragment="internet">
        <link rel="stylesheet" th:href="@{/js/bootstrap/bootstrap.min.css}"/>
        <link rel="stylesheet" th:href="@{/js/bootstrap-fileinput/css/fileinput.css}" />
        <script th:src="@{/js/jquery-3.3.1/jquery-3.3.1.js}"></script>
        <script th:src="@{/js/bootstrap/3.3.5/js/bootstrap.min.js}"></script>
        <script th:src="@{/js/bootstrap-fileinput/js/fileinput.js}"></script>
        <script th:src="@{/js/bootstrap-fileinput/js/locales/zh.js}"></script>
        <script th:src="@{/js/layer/layer.js}"></script>
    </th:block>-->
    <title>Title</title>
</head>
<body>

</body>
</html>