<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Title</title>
</head>
<body>
<a href="userController/toLogin">登录</a>
<a href="userController/toRegister">注册</a>

<a th:href="@{/templates/people/login.html}">跳转</a>






<!--<form action="#" th:action="@{/add}" th:object="${user}" method="post">
    <label>Name</label>
    <input type="text" th:field="*{name}" />
    <label>Age</label>
    <input type="text" th:field="*{age}" />
    <br />
    <input type="submit" value="add" />
</form>-->

hello
</body>
</html>